.container-table {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .title-table {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
    max-width: 20%;
    display: inline;
  }
  
  .search-box {
    display: inline;
    float: right;
    width: 100%;
    max-width: 50%;
    margin-bottom: 16px;
    background-color: #ffffff;
  }

  .css-host-filters {

  }
  .css-host-filters .mat-mdc-form-field {
    margin: 0px;
  }

  .view-orders {
    color: #d32f2f !important; 
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .new-order {
    color: #388e3c !important;
    font-weight: bold;
    text-transform: uppercase;
  }