/* You can add global styles to this file, and also import other style files */
:root {
    --font-family: "Segoe UI VSS (Regular)", "Segoe UI", "-apple-system", BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.css-host-filters .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  padding-right: 0;
  background-color: #ffffff;
}
.container-table .mat-mdc-header-row, .container-table .mat-mdc-paginator, .container-table .mat-mdc-table tbody {
  background-color: #ffffff;
}

.custom-orders-modal {
  width: 70%;
  max-width: 100% !important;
  height: auto;
}
.custom-orders-modal .mat-mdc-dialog-surface{
  border-radius: 5px;
}
.custom-orders-modal .mat-mdc-dialog-title {
  background-color: #a21010;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #aba8a8;
}
.custom-orders-modal .mat-mdc-dialog-container .mat-mdc-dialog-title {
  color: #ffffff;
}
.custom-orders-modal .mat-mdc-row {

}

.custom-orders-modal .mat-mdc-table {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.custom-orders-modal .mat-mdc-cell {
  border-bottom: 1px solid #ccc !important;
}

.custom-orders-modal .mat-mdc-header-cell {
  border-bottom: 1px solid #ccc !important;
}


.close-button {
  color: #d32f2f !important;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-appearance: none !important;
  border: none;
  background-color: transparent;
}

